<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jcse.app.ergclassroom">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/classimage2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigateActivity"
            android:label="@string/title_activity_navigate"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jcse.app.ergclassroom.MainActivity" />
        </activity>
        <activity
            android:name=".ClassroomActivity"
            android:label="@string/title_activity_classroom"
            android:parentActivityName=".NavigateActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jcse.app.ergclassroom.NavigateActivity" />
        </activity>
        <activity
            android:name=".LessonActivity"
            android:label="@string/title_activity_lesson"
            android:parentActivityName=".ClassroomActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jcse.app.ergclassroom.ClassroomActivity" />
        </activity>
        <activity
            android:name=".PreparationActivity"
            android:label="@string/title_activity_preparation"
            android:parentActivityName=".ClassroomActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jcse.app.ergclassroom.ClassroomActivity" />
        </activity>
        <activity
            android:name=".StartLessonActivity"
            android:label="@string/title_activity_start_lesson"
            android:parentActivityName=".ClassroomActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jcse.app.ergclassroom.ClassroomActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".ClassroomActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jcse.app.ergclassroom.ClassroomActivity" />
        </activity>
        <activity
            android:name=".TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:parentActivityName=".ClassroomActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jcse.app.ergclassroom.ClassroomActivity" />
        </activity>
        <activity
            android:name=".FinishLessonActivity"
            android:label="@string/title_activity_finish_lesson"
            android:parentActivityName=".TabbedActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jcse.app.ergclassroom.TabbedActivity" />
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".PreparationItemsActivity"
            android:label="@string/title_activity_preparation_items"
            android:parentActivityName=".PreparationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jcse.app.ergclassroom.PreparationActivity" />
        </activity>
        <activity
            android:name=".PreparationListActivity"
            android:label="@string/title_activity_preparation_list"
            android:parentActivityName=".TabbedActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jcse.app.ergclassroom.TabbedActivity" />
        </activity>
        <activity
            android:name=".HttpActivity">
        </activity>
        <service
            android:name="jcse.app.ergclassroom.ImageHttpActivity">
        </service>
        <service
            android:name="jcse.app.ergclassroom.ParseJsonObjectFromFile">
        </service>
    </application>

</manifest>