<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jcse.app.ergclassroom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/classimage2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigateActivity"
            android:label="@string/title_activity_navigate"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jcse.app.ergclassroom.MainActivity" />
        </activity>


        <activity
            android:name=".TermActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".NavigateActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jcse.app.ergclassroom.NavigateActivity" />
        </activity>
        <activity
            android:name=".TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:parentActivityName=".DayActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jcse.app.ergclassroom.DayActivity" />
        </activity>

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".HttpActivity" />

        <service android:name=".ImageHttpActivity" />
        <service android:name=".ParseJsonObjectFromFile" />

        <receiver android:name=".HttpActivity$ResponseReceiver">
            <intent-filter>
                <action android:name="jcse.app.ergclassroom.HttpActivity.BroadcastReceiver" />
            </intent-filter>
        </receiver>
        <receiver android:name=".HttpActivity$ImageResponseReceiver">
            <intent-filter>
                <action android:name="jcse.app.ergclassroom.HttpActivity.WakefulBroadcastReceiver" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".WeekActivity"
            android:label="@string/title_activity_week"
            android:parentActivityName=".TermActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DayActivity"
            android:label="@string/title_activity_day"
            android:parentActivityName=".WeekActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jcse.app.ergclassroom.WeekActivity" />
        </activity>
        <activity
            android:name=".TabbedClassroomActivity"
            android:label="@string/title_activity_tabbed_classroom"
            android:parentActivityName=".DayActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jcse.app.ergclassroom.DayActivity" />
        </activity>
    </application>

</manifest>