<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jcse.app.ergclassroom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_gobold"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigateActivity"
            android:label="@string/title_activity_navigate"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jcse.app.ergclassroom.MainActivity" />
        </activity>
        <!--
            <activity-alias
            android:name=".AliasActivity"
            android:targetActivity=".NavigateActivity"
            android:enabled="false"></activity-alias>
        -->
        <activity
            android:name=".TermActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".NavigateActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jcse.app.ergclassroom.NavigateActivity" />
        </activity>
        <activity
            android:name=".TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:parentActivityName=".DayActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jcse.app.ergclassroom.DayActivity" />
        </activity>

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name=".ConnectActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".HttpActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".ImageHttpActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".ParseJsonObjectFromFile"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".WeekActivity"
            android:parentActivityName=".TermActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DayActivity"
            android:parentActivityName=".WeekActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jcse.app.ergclassroom.WeekActivity" />
        </activity>
        <activity
            android:name=".TabbedClassroomActivity"
            android:label="@string/title_activity_tabbed_classroom"
            android:parentActivityName=".DayActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jcse.app.ergclassroom.DayActivity" />
        </activity>
        <activity
            android:name=".UserTrackingActivity"
            android:label="@string/title_activity_user_tracking"
            android:parentActivityName=".NavigateActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jcse.app.ergclassroom.NavigateActivity" />
        </activity>
    </application>

</manifest>